@import "src/styles";

#header {
  background-color: $primary;
  color: $tertiary;
}

.title {
  font-size: 2rem;
}

.title-part {
  letter-spacing: 12px;
  margin-right: -12px;
}

.title-claire {
  padding-right: 35px;
}

.title-malek {
  padding-left: 35px;
}

.wedding-rings-icon {
  width: 34px;
  padding-bottom: 5px;
}
