@import "src/styles";

#header {
  background-color: $primary;
  color: $tertiary;
  padding-bottom: 10px;
}

#subheader {
  box-shadow: 0 2px 8px 0 $gray-dark;
}

.title {
  font-size: 2rem;
}

.title-part {
  letter-spacing: 12px;
  margin-right: -12px;
}

.title-claire {
  padding-right: 35px;
}

.title-malek {
  padding-left: 35px;
}

.wedding-rings-icon {
  width: 34px;
  padding-bottom: 5px;
}

.navbar-toggler {
  font-size: 15px;
  margin-top: 2px;
  padding: 4px 8px;
}

#small-nav {
  @include media-breakpoint-up(md) {
    display: none !important;
  }
}
