<div id="footer" class="mt-5 p-4">
  <p class="quote text-center font-family-cursive h4 mb-4">
    «&nbsp;Et un jour on rencontre une personne sans même le vouloir, puis elle devient notre plus belle histoire&nbsp;»
  </p>
  <div class="d-flex justify-content-center align-items-center">
    <span>Réalisé avec</span>
    <mat-icon class="love-icon m-1">favorite</mat-icon>
    <span>par C & M</span>
  </div>
  <div class="credits mt-3 text-center">
    Icônes conçues par
    <a href="https://www.freepik.com" title="Freepik" target="_blank">Freepik</a>,
    <a href="https://www.flaticon.com/authors/pongsakornred" title="pongsakornRed">pongsakornRed</a>,
    <a href="" title="Kiranshastry">Kiranshastry</a>,
    <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a>
    et
    <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
    sur
    <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a>
  </div>
</div>
