@import "src/styles";

#footer {
  background-color: $primary;
  color: $tertiary;
  font-weight: 400;
}

.love-icon {
  color: $secondary;
}

.credits {
  font-size: 14px;
}

a {
  color: $primary-dark;
}
