<ngb-carousel id="carousel" [interval]="3000" class="m-auto">

  <!-- Picture 1 -->
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper text-center">
      <img class="w-100" src="assets/picture-c-and-m-1.jpg" alt="Claire et Malek">
    </div>
  </ng-template>

  <!-- Picture 2 -->
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper text-center">
      <img class="w-100" src="assets/picture-antibes.png" alt="Antibes">
    </div>
  </ng-template>

  <!-- Picture 3 -->
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper text-center">
      <img class="w-100" src="assets/picture-c-and-m-2.jpg" alt="Claire et Malek">
    </div>
  </ng-template>

  <!-- Picture 4 -->
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper text-center">
      <img class="w-100" src="assets/picture-bertrands.png" alt="Le Domaine des Bertrands">
    </div>
  </ng-template>

</ngb-carousel>
