@import "../../style/variables";

.card {
  border: none;
  background-color: $primary;
  color: $tertiary;
}

.more-info-btn {
  border-color: $primary-dark;
  color: $tertiary;
  box-shadow: 0 0 0 1px $gray-dark;

  &:hover {
    box-shadow: 0 0 4px 2px $gray-dark;
  }
}

.more-info-icon {
  color: $secondary;
  opacity: 0.8;
}

//-- Timeline style

/* The actual timeline (the vertical ruler) */
.main-timeline {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.main-timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: $secondary;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline {
  position: relative;
  background-color: inherit;
  width: 50%;

  &:last-child {
    padding-bottom: 0;
  }
}

/* The circles on the timeline */
.timeline-event-icon {
  z-index: 1;
  position: absolute;
  right: -13px;
  top: 15px;
}

/* Fix the circle for containers on the right side */
.right .timeline-event-icon {
  left: -17px;
}

/* Place the container to the left */
.left {
  padding: 0 40px 20px 0;
  left: 0;
}

/* Place the container to the right */
.right {
  padding: 0 0 20px 40px;
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid $primary;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent $primary;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid $primary;
  border-width: 10px 10px 10px 0;
  border-color: transparent $primary transparent transparent;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .main-timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline::before {
    left: 60px;
    border: medium solid $primary;
    border-width: 10px 10px 10px 0;
    border-color: transparent $primary transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .timeline-event-icon {
    left: 14px !important;
  }

  .left::before {
    right: auto;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0;
  }
}
