<!-- Image -->
<div class="d-flex justify-content-center">
  <img class="program-image w-100 mb-3" src="assets/picture-bertrands-entrance.jpg"
       (load)="loadingService.onImageLoaded('picture-bertrands-entrance')">
</div>

<!-- Address - displayed for print only -->
<p class="d-none d-print-block text-center mt-3 mb-5">
  Le samedi 01 octobre à 16h<br>
  Domaine des Bertrands<br>
  Route de La Garde-Freinet<br>
  83340 Le Cannet-des-Maures
</p>

<h5 class="mt-2 mb-4 font-family-cursive h2">Informations pratiques</h5>

<p>
  <fa-icon [icon]="cocktailIcon" class="cocktail-icon mr-2"></fa-icon>
  Un rafraîchissement d’accueil vous attendra au Château des Bertrands <strong>dès 16h</strong> pour débuter les festivités&nbsp;!
</p>

<p>
  <fa-icon [icon]="babyIcon" class="baby-icon mr-2"></fa-icon>
  Une baby-sitter sera présente au domaine de 16h30 à 0h30 pour ravir les plus petits.
</p>

<p>
  <fa-icon [icon]="suitIcon" class="suit-icon mr-2"></fa-icon>
  N’hésitez pas à vous munir de votre plus belle tenue de soirée.
</p>

<p>
  <fa-icon [icon]="smileIcon" class="smile-icon mr-2"></fa-icon>
  Nous avons hâte de vous y retrouver&nbsp;!
</p>

<h5 class="mt-4 pt-3 mb-3">Comment y accéder&nbsp;?</h5>

<div class="d-flex justify-content-between m-2">
  <div>
    Prévoyez environ <strong>1h15 de route</strong> pour accéder au Domaine des Bertrands depuis Nice/Antibes.
    Une fois sur place, suivez les panneaux indiquant «&nbsp;Château des Bertrands&nbsp;».
  </div>
  <div class="d-print-none ml-2">
    <a class="itinerary-link btn btn-outline-secondary" [href]="itineraryLinkBertrands" target="_blank">
      <fa-icon [icon]="itineraryIcon" class="itinerary-icon mr-2"></fa-icon>
      Itinéraire
    </a>
  </div>
</div>

<h5 class="mt-4 pt-3 mb-3">Contact</h5>

<p>
  <fa-icon [icon]="phoneIcon" class="phone-icon mr-2"></fa-icon>
  En cas de besoin, <strong>Guillaume</strong> (le super frère de la Mariée) sera joignable le weekend du mariage au
  <a class="text-secondary" href="tel:+33626653053">+33&nbsp;(0)&nbsp;6&nbsp;26&nbsp;65&nbsp;30&nbsp;53</a>.
</p>
