@import "../../style/variables";
@import "../../style/fonts";
@import "~bootstrap/scss/mixins";

#rsvp-form {
  background: url("../../assets/bg-olive.png");
  box-shadow: 0 0 10px 0 $gray-dark;
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

#rsvp-form-content {
  box-shadow: 0 0 10px 0 $gray-medium;
  width: 90%;

  @include media-breakpoint-up(md) {
    width: 80%;
  }
}

.name-field {
  width: 100%;
  margin-bottom: 5px;

  @include media-breakpoint-up(sm) {
    width: calc(50% - 5px);
    &:first-child {
      margin-right: 5px;
    }
    &:last-child {
      margin-left: 5px;
    }
  }
}

.name-field-full {
  width: 100%;
}

mat-radio-button, mat-checkbox {
  @extend .font-family-main;
  white-space: normal;
}

:host::ng-deep .mat-checkbox-inner-container {
  margin: 0 8px 0 0;
  top: 1px;
}

:host::ng-deep .mat-radio-label-content {
  white-space: normal;
  font-size: 16px;
}

:host::ng-deep .mat-checkbox-label {
  white-space: normal;
}

textarea {
  height: 60px;
}

.smile-icon, .sad-icon {
  font-size: 24px;
}

.info-icon {
  cursor: help;
}

.error-icon {
  font-size: 16px;
  color: $secondary;
}

.young-picture {
  width: 95%;
  max-width: 200px;
  border-radius: 50%;
}

.heart-between-pictures {
  margin: 0 -12px;
}
