<div id="rsvp-form" class="d-flex justify-content-around p-5">

  <div id="rsvp-form-content" class="card">
    <div class="card-body text-center">
      <app-section-title title="RSVP"></app-section-title>
      <!-- Form content -->
      <div class="form-content">
        <mat-form-field appearance="fill">
          <mat-label>Input</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Textarea</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>

</div>
