<span id="rsvp-form-anchor"></span>

<div id="rsvp-form" class="d-flex justify-content-around responsive-padding">
  <div id="rsvp-form-content" class="card">
    <div class="card-body">
      <app-section-title title="CONFIRMATION" [noDeco]="true"></app-section-title>

      <!-- Form content -->
      <form class="form" [formGroup]="rsvpForm" *ngIf="!this.responseSent">

        <!-- Name -->
        <p>
          <mat-form-field appearance="fill" class="name-field">
            <mat-label>Prénom</mat-label>
            <input [formControl]="controls.firstName" matInput placeholder="Ex. James">
            <mat-hint>Surnoms acceptés</mat-hint>
            <mat-error *ngIf="controls.firstName.invalid">Veuillez entrer votre prénom</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="name-field">
            <mat-label>Nom</mat-label>
            <input [formControl]="controls.lastName" matInput placeholder="C'est quoi déjà ?">
            <mat-hint>Le vrai</mat-hint>
            <mat-error *ngIf="controls.lastName.invalid">Veuillez entrer votre nom</mat-error>
          </mat-form-field>
        </p>

        <!-- Part 1: Mairie & Party -->
        <hr>
        <h2 class="font-family-cursive my-4 text-center">La mairie et la Wedding Party</h2>

        <!-- Party - Presence -->
        <p>
          <label>Je serai de la <i>party&nbsp;</i>:</label><br>
          <mat-radio-group [formControl]="controls.partyPresent">
            <mat-radio-button value="yes" class="mr-2">Ouiii !</mat-radio-button>
            <mat-radio-button value="no">Non, mais avec regrets (j'ai aqua poney)</mat-radio-button>
            <mat-error *ngIf="formSubmitted && controls.partyPresent.invalid">Veuillez sélectionner une option</mat-error>
          </mat-radio-group>
        </p>

        <!-- Party - Presence of family -->
        <div *ngIf="controls.partyPresent.value === 'yes'">

          <!-- Party - Presence of +1 -->
          <p class="d-flex mb-0">
            <mat-checkbox [formControl]="controls.partyPlusOnePresent">Je viens avec mon(ma) conjoint(e)</mat-checkbox>
            <ng-template #partyPlusOnePresentInstructions>
              Si vous cochez cette case, votre moitié n'aura pas à remplir le formulaire de confirmation.<br>
              Ne cochez pas cette case si vous êtes célibataire ou si vous préfèrez qu’il(elle) reste à la maison.
            </ng-template>
            <mat-icon [ngbTooltip]="partyPlusOnePresentInstructions" class="info-icon ml-2">info</mat-icon>
          </p>
          <p *ngIf="controls.partyPlusOnePresent.value">
            <mat-form-field appearance="fill" class="name-field">
              <mat-label>Prénom de votre conjoint(e)</mat-label>
              <input [formControl]="controls.partyPlusOneFirstName" matInput placeholder="Ex. Johnny">
              <mat-hint>Surnoms acceptés</mat-hint>
              <mat-error *ngIf="controls.partyPlusOneFirstName.invalid">Veuillez entrer le prénom de votre conjoint(e)</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="name-field">
              <mat-label>Nom de votre conjoint(e)</mat-label>
              <input [formControl]="controls.partyPlusOneLastName" matInput placeholder="C'est quoi déjà ?">
              <mat-hint>Si vous le connaissez</mat-hint>
              <mat-error *ngIf="controls.partyPlusOneLastName.invalid">Veuillez entrer le nom de votre conjoint(e)</mat-error>
            </mat-form-field>
          </p>

          <!-- Party - Presence of children -->
          <p class="d-flex mb-0">
            <mat-checkbox [formControl]="controls.partyChildrenPresent">Je viens avec mon(mes) enfant(s)</mat-checkbox>
            <ng-template #partyChildrenPresentInstructions>
              Note&nbsp;: les enfants des voisins ne seront pas acceptés.
            </ng-template>
            <mat-icon [ngbTooltip]="partyChildrenPresentInstructions" class="info-icon ml-2">info</mat-icon>
          </p>
          <p *ngIf="controls.partyChildrenPresent.value">
            <mat-form-field appearance="fill" class="name-field-full">
              <mat-label>Prénom et âge du(des) enfant(s)</mat-label>
              <input [formControl]="controls.partyChildrenDetails" matInput placeholder="Ex. Riri (5 ans), Fifi (2 ans)">
              <mat-hint>Assurez-vous de ne pas en oublier</mat-hint>
              <mat-error *ngIf="controls.partyChildrenDetails.invalid">Veuillez entrer le prénom et âge de votre(vos) enfant(s)</mat-error>
            </mat-form-field>
          </p>
        </div>

        <!-- Brunch specificity -->
        <p *ngIf="controls.partyPresent.value">
          <mat-checkbox [formControl]="controls.brunchSpecificity">
            Si ces réponses ne s’appliquent pas au Brunch, merci de cocher cette case
          </mat-checkbox>
        </p>

        <!-- Part 2: Brunch -->
        <div *ngIf="controls.brunchSpecificity.value">
          <hr>
          <h2 class="font-family-cursive my-4 text-center">Le Brunch</h2>

          <!-- Brunch - Presence -->
          <p>
            <label>Je participerai au brunch&nbsp;:</label><br>
            <mat-radio-group [formControl]="controls.brunchPresent">
              <mat-radio-button value="yes" class="mr-2">Oui, car je suis un(e) gourmand(e)</mat-radio-button>
              <mat-radio-button value="no">Non, pas dispo (j'ai waterpolo)</mat-radio-button>
              <mat-error *ngIf="formSubmitted && controls.brunchPresent.invalid">Veuillez sélectionner une option</mat-error>
            </mat-radio-group>
          </p>

          <!-- Brunch - Presence of family -->
          <div *ngIf="controls.brunchPresent.value == 'yes'">

            <!-- Brunch - Present of +1 -->
            <p class="d-flex mb-0">
              <mat-checkbox [formControl]="controls.brunchPlusOnePresent">Je viens avec mon(ma) conjoint(e)</mat-checkbox>
              <ng-template #brunchPlusOnePresentInstructions>
                Nous espérons que ce soit la même personne que la veille.
              </ng-template>
              <mat-icon [ngbTooltip]="brunchPlusOnePresentInstructions" class="info-icon ml-2">info</mat-icon>
            </p>
            <p *ngIf="controls.brunchPlusOnePresent.value">
              <mat-form-field appearance="fill" class="name-field">
                <mat-label>Prénom de votre conjoint(e)</mat-label>
                <input [formControl]="controls.brunchPlusOneFirstName" matInput placeholder="Ex. Momo">
                <mat-hint>Surnoms acceptés</mat-hint>
                <mat-error *ngIf="controls.brunchPlusOneFirstName.invalid">Veuillez entrer le prénom de votre conjoint(e)</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="name-field">
                <mat-label>Nom de votre conjoint(e)</mat-label>
                <input [formControl]="controls.brunchPlusOneLastName" matInput placeholder="C'est quoi déjà ?">
                <mat-hint>Si vous le connaissez</mat-hint>
                <mat-error *ngIf="controls.brunchPlusOneLastName.invalid">Veuillez entrer le nom de votre conjoint(e)</mat-error>
              </mat-form-field>
            </p>

            <!-- Brunch - Presence of children -->
            <p class="d-flex mb-0">
              <mat-checkbox [formControl]="controls.brunchChildrenPresent">Je viens avec mon(mes) enfant(s)</mat-checkbox>
              <ng-template #brunchChildrenPresentInstructions>
                Note&nbsp;: les enfants des voisins ne seront toujours pas acceptés.
              </ng-template>
              <mat-icon [ngbTooltip]="brunchChildrenPresentInstructions" class="info-icon ml-2">info</mat-icon>
            </p>
            <p *ngIf="controls.brunchChildrenPresent.value">
              <mat-form-field appearance="fill" class="name-field-full">
                <mat-label>Prénom et âge du(des) enfant(s)</mat-label>
                <input [formControl]="controls.brunchChildrenDetails" matInput placeholder="Ex. Riri (5 ans), Fifi (2 ans)">
                <mat-hint>Assurez-vous de ne pas en oublier</mat-hint>
                <mat-error *ngIf="controls.brunchChildrenDetails.invalid">Veuillez entrer le prénom et âge de votre(vos) enfant(s)
                </mat-error>
              </mat-form-field>
            </p>
          </div>
        </div>

        <!-- Young pictures request -->
        <div
          [hidden]="controls.partyPresent.value === 'no' && (!controls.brunchSpecificity.value || controls.brunchPresent.value !== 'yes')">
          <hr>
          <h2 class="font-family-cursive my-4 text-center">Le point photo</h2>

          <p>
            Nous avons besoin d’une photo de chaque invité lorsqu’il(elle) était enfant (âgé(e) de 1 à 7 ans), si vous ne l'avez pas déjà envoyée.<br>
            Voici pour exemple des photos de bébé Claire et bébé Malek&nbsp;:
          </p>

          <div class="d-sm-flex justify-content-center text-center m-4">
            <img class="young-picture m-1 m-md-2" src="assets/picture-young-c.png" alt="Bébé Claire"
                 (load)="loadingService.onImageLoaded('picture-young-c')">
            <div class="heart-between-pictures">
              <img src="assets/heart-full-red.svg" alt="Coeur" style="width: 24px"
                   (load)="loadingService.onImageLoaded('heart-full-red')">
            </div>
            <img class="young-picture m-1 m-md-2" src="assets/picture-young-m.png" alt="Bébé Malek"
                 (load)="loadingService.onImageLoaded('picture-young-m')">
          </div>

          <p>
            <mat-checkbox [formControl]="controls.acceptYoungPicConditions">
              J'ai envoyé, ou je m’engage à envoyer une photo de ma p’tite tête,
              celle de mon(ma) conjoint(e), et de mon(mes) enfant(s) dont j’ai confirmé la présence à l’adresse email
              <a class="text-primary" href="mailto:***REMOVED***">***REMOVED***</a>
              avant le 31 juillet 2022.
            </mat-checkbox>
            <mat-error *ngIf="formSubmitted && controls.acceptYoungPicConditions.invalid">
              Vous devez cocher cette case pour continuer
            </mat-error>
          </p>
        </div>

        <!-- Covid conditions - Deprecated -->
        <!-- <div
          [hidden]="controls.partyPresent.value === 'no' && (!controls.brunchSpecificity.value || controls.brunchPresent.value !== 'yes')">
          <hr>
          <h2 class="font-family-cursive my-4 text-center">Le point moins rigolo</h2>

          <p>
            Tout comme vous, nous aurions préféré ne pas avoir à aborder ce dernier sujet,
            mais afin de festoyer au mieux et de protéger petits et grands,
            chaque convive devra être vacciné ou avoir effectué un test PCR/antigénique de moins de 72h pour participer aux festivités.
            Nous vous invitons à nous envoyer votre attestation dès que vous l’aurez en votre possession, à l’adresse email
            <a class="text-primary" href="mailto:***REMOVED***">***REMOVED***</a>.
          </p>
          <p>
            Merci à tous pour votre compréhension, nous avons hâte de partager ces moments avec vous&nbsp;!
          </p>
        </div> -->

        <!-- Leave us a message -->
        <hr>
        <h2 class="font-family-cursive my-4 text-center">
          Laissez-nous un message de votre choix
        </h2>
        <p class="small">
          Exemples&nbsp;: allergies, commentaires, précisions, «&nbsp;je plante ma tente dans le jardin du Domaine&nbsp;»,
          déroulement de votre dernier date Tinder, etc.
        </p>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Votre message</mat-label>
          <textarea [formControl]="controls.message" matInput></textarea>
        </mat-form-field>

        <!-- Terms and conditions acknowledgment -->
        <div
          [hidden]="controls.partyPresent.value === 'no' && (!controls.brunchSpecificity.value || controls.brunchPresent.value !== 'yes')">
          <hr>
          <p>
            <mat-checkbox [formControl]="controls.acceptEventConditions">
              En cochant cette case, j’accepte les termes et conditions de cet évènement&nbsp;:
              joie et bonne humeur obligatoire, fun et amusement de rigueur, jogging et marcel prohibés, fête jusqu’au bout
              de la nuit pour les plus motivés, etc.
            </mat-checkbox>
            <mat-error *ngIf="formSubmitted && controls.acceptEventConditions.invalid">
              Vous devez cocher cette case pour continuer
            </mat-error>
          </p>
        </div>

        <h2 class="font-family-cursive my-4 text-center">Réponse souhaitée <strong>avant le 31 juillet 2022</strong></h2>

        <!-- Submit button -->
        <div class="text-center">
          <button type="submit" class="submit-btn btn btn-lg btn-outline-secondary" (click)="validateFormAndOpenModal(submitModalContent)">
            Valider
          </button>
        </div>
        <ngb-alert type="danger" class="mt-4 mb-0 d-flex justify-content-center" [dismissible]="false"
                   *ngIf="formSubmitted && rsvpForm.invalid">
          <fa-icon [icon]="errorIcon" class="error-icon mr-2"></fa-icon>
          Certains champs ci-dessus sont invalides, veuillez les corriger avant de continuer.
        </ngb-alert>

      </form>

      <!-- Response sent confirmation -->
      <div class="text-center" *ngIf="responseSent">
        <p>Votre réponse nous a bien été envoyée.</p>
        <div *ngIf="controls.partyPresent.value === 'yes' || controls.brunchPresent.value === 'yes'">
          <p>Nous vous remercions et avons hâte de vous voir.</p>
          <fa-icon [icon]="smileIcon" class="smile-icon ml-2"></fa-icon>
        </div>
        <div *ngIf="controls.partyPresent.value !== 'yes' && controls.brunchPresent.value !== 'yes'">
          <p>Nous vous remercions et sommes désolés que vous ne puissiez pas vous joindre à nous.</p>
          <fa-icon [icon]="sadIcon" class="sad-icon ml-2"></fa-icon>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Submit modal -->
<ng-template #submitModalContent let-modal>
  <div id="submit-modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Résumé de votre réponse</h4>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Veuillez confirmer les informations suivantes, puis confirmer ou corriger votre réponse&nbsp;:</p>
      <app-rsvp-summary [response]="rsvpForm.value"></app-rsvp-summary>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="submitForm()">Confirmer</button>
      <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Close click')">Corriger les informations</button>
    </div>
  </div>
</ng-template>

<!-- Form debug area -->
<div class="m-5" *ngIf="false">
  <h3>Form debug area</h3>
  <hr>
  <p>Form status: {{ rsvpForm.status }}</p>
  <pre>Form errors: {{ getFormValidationErrors() | json }}</pre>
  <pre>Form value: {{ rsvpForm.value | json }}</pre>
  <hr>
</div>
