@import "src/styles";

.title {
  white-space: nowrap;
}

.title-deco {
  width: 100px;
  position: relative;
  top: -8px;
}

.title-deco-right {
  transform: rotate(180deg);
}


@include media-breakpoint-down(sm) {
  .title {
    font-size: 45px !important;
  }

  .title-deco {
    width: 75px;
    top: -6px;
  }
}

@include media-breakpoint-down(xs) {
  .title {
    font-size: 40px !important;
  }

  .title-deco {
    width: 70px;
    top: -5px;
  }
}

@include media-breakpoint-down(xxs) {
  .title {
    font-size: 35px !important;
  }

  .title-deco {
    width: 45px;
    top: -4px;
  }

  .subtitle {
    font-size: 20px;
  }

  .extra-text {
    font-size: 18px;
  }
}
