@import "../../style/variables";

.rib-wrapper {
  border: 1px solid $primary;
}

.rib-label {
  color: $secondary;
}

.copy-icon {
  color: $secondary;
  cursor: pointer;
  font-size: 18px;
  padding-top: 5px;
}
