<span id="money-pot-anchor"></span>

<app-section-title title="LUNE DE MIEL"></app-section-title>

<div class="text-center">
  <p>
    Si vous souhaitez contribuer au voyage de noces des Mariés et les aider à s'envoler vers d'autres contrées,
    une urne sera à disposition sur le lieu de la célébration.<br>
    Vous avez également la possibilité d’utiliser le RIB suivant :
  </p>

  <!-- RIB -->
  <div class="rib-wrapper d-inline-block m-3 p-4">
    <div class="mb-2"><strong>M. BENAZZOUZ M ou Mlle ANGEVIN</strong></div>
    <!-- IBAN -->
    <div class="d-flex justify-content-center">
      <span class="rib-label mr-2">IBAN</span>
      FR76 ***REMOVED***
      <mat-icon class="copy-icon ml-2" ngbTooltip="Copier le code IBAN"
                cdkCopyToClipboard="FR764***REMOVED***"
                (cdkCopyToClipboardCopied)="ibanCopied = true;">content_copy</mat-icon>
    </div>
    <!-- BIC -->
    <div class="d-flex justify-content-center">
      <span class="rib-label mr-2">BIC</span>
      ***REMOVED***
      <mat-icon class="copy-icon ml-2" ngbTooltip="Copier le code BIC"
                cdkCopyToClipboard="***REMOVED***"
                (cdkCopyToClipboardCopied)="bicCopied = true;">content_copy</mat-icon>
    </div>
    <!-- Copy to clipboard confirmation -->
    <ngb-toast *ngIf="ibanCopied" class="mt-4" (hidden)="ibanCopied=false" [delay]="3000">IBAN copié dans le presse-papier</ngb-toast>
    <ngb-toast *ngIf="bicCopied" class="mt-4" (hidden)="bicCopied=false" [delay]="3000">Code BIC copié dans le presse-papier</ngb-toast>
  </div>
</div>

