@import "../../style/variables";
@import "~bootstrap/scss/mixins";

.bonus-img {
  width: 600px;
  border: 30px solid $almost-white;
  box-shadow: 0 0 14px 0 $gray-very-dark;
  backface-visibility: hidden;

  @include media-breakpoint-down(xl) {
    width: 500px;
    border-width: 25px;
  }

  @include media-breakpoint-down(lg) {
    width: 450px;
    border-width: 25px;
  }

  @include media-breakpoint-down(lg) {
    width: 400px;
    border-width: 20px;
  }

  @include media-breakpoint-down(md) {
    width: 325px;
    border-width: 17px;
  }

  @include media-breakpoint-down(sm) {
    width: 300px;
    border-width: 15px;
  }
}

.bonus-img-left {
  transform: rotate(-1deg);
}

.bonus-img-right {
  transform: rotate(2deg);
  position: relative;
  top: 100px;
  margin-bottom: 100px;
}
