@import "src/styles";

.number {
  @extend .font-family-cursive;
  color: $primary;
  font-size: 35px;

  @include media-breakpoint-up(sm) {
    font-size: 40px;
  }
  @include media-breakpoint-up(md) {
    font-size: 45px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 50px;
  }
  @include media-breakpoint-up(xl) {
    font-size: 55px;
  }
}
