@import "src/styles";

ul {
  list-style-type: circle;
}

.itinerary-link {
  white-space: nowrap;
}

.info-icon {
  font-size: 15px;
}

.warning-icon {
  font-size: 14px;
}

.phone-icon {
  color: $secondary;
  opacity: 0.8;
}
