<!-- Image -->
<div class="d-flex justify-content-center">
  <img class="program-image w-100 mb-3" src="assets/picture-mairie.jpg">
</div>

<!-- Address - displayed for print only -->
<p class="d-none d-print-block text-center mt-3 mb-5">
  Le samedi 04 septembre à 15h30<br>
  Mairie d'Antibes<br>
  24 Cours Masséna, 06600 Antibes
</p>

<h5 class="mt-2 mb-4 font-family-cursive h2">Informations pratiques</h5>

<ul>
  <li><strong>15h30</strong>&nbsp;: Arrivée des convives pour la célébration</li>
  <li><strong>16h00</strong>&nbsp;: Cérémonie</li>
</ul>

<ngb-alert type="primary" [dismissible]="false">
  <fa-icon [icon]="infoIcon" class="info-icon mr-2"></fa-icon>
  N’oubliez pas de vous munir d’un masque chirurgical pour l’occasion.
</ngb-alert>

<h5 class="mt-4 mb-3">Où se garer&nbsp;?</h5>

<ul>
  <li>
    <div class="d-flex justify-content-between m-2">
      <div>
        <strong>Parking Port Vauban</strong>
        <div>4 minutes à pied</div>
      </div>
      <div class="d-print-none ml-2">
        <a class="itinerary-link btn btn-outline-secondary" [href]="itineraryLinkVauban" target="_blank">
          <fa-icon [icon]="itineraryIcon" class="itinerary-icon mr-2"></fa-icon>
          Itinéraire
        </a>
      </div>
    </div>
  </li>
  <li>
    <div class="d-flex justify-content-between m-2">
      <div>
        <strong>Parking Q-Park Pré aux pêcheurs</strong>
        <div>6 minutes à pied</div>
      </div>
      <div class="d-print-none ml-2">
        <a class="itinerary-link btn btn-outline-secondary" [href]="itineraryLinkQPark" target="_blank">
          <fa-icon [icon]="itineraryIcon" class="itinerary-icon mr-2"></fa-icon>
          Itinéraire
        </a>
      </div>
    </div>
  </li>
</ul>

<ngb-alert type="primary" [dismissible]="false">
  <fa-icon [icon]="warningIcon" class="warning-icon mr-2"></fa-icon>
  Veuillez noter que les places gratuites dans la vieille ville d’Antibes sont rares surtout à cette époque de l’année&nbsp;!<br>
</ngb-alert>

