<div id="couple-pres" class="responsive-padding d-flex justify-content-center">

  <div class="card" [@goRight]="isComponentVisible ? 'right' : 'left'">
    <img class="card-img-top" src="assets/picture-m.jpg" alt="Malek"
         (load)="loadingService.onImageLoaded('picture-m')">
    <div class="card-body text-center">
      <h5 class="card-title font-family-cursive h2">Le Marié</h5>
      <p class="card-text">Malek, 29 ans et {{ daysAfter29thBirthdayMalek }} jours</p>
      <p class="card-text">
        «&nbsp;Sa douceur,<br>
        son grain de beauté,<br>
        ses délicieuses planchas...&nbsp;»
      </p>
    </div>
  </div>

  <div>
    <img [@fade]="isComponentVisible ? 'in' : 'out'" src="../../assets/heart-full-red.svg" alt="Coeur" style="width: 24px"
         (load)="loadingService.onImageLoaded('heart-full-red')">
  </div>

  <div class="card" [@goLeft]="isComponentVisible ? 'left' : 'right'">
    <img class="card-img-top" src="assets/picture-c.jpg" alt="Claire"
         (load)="loadingService.onImageLoaded('picture-c')">
    <div class="card-body text-center">
      <h5 class="card-title font-family-cursive h2">La Mariée</h5>
      <p class="card-text">Claire, 29 ans et {{ daysAfter29thBirthdayClaire }} jours</p>
      <p class="card-text">
        «&nbsp;Sa générosité,<br>
        sa voix de chanteuse,<br>
        son orteil potelé...&nbsp;»
      </p>
    </div>
  </div>

</div>
