@import "src/styles";

#couple-pres {
  background: url("../../assets/bg-olive.png");
  box-shadow: 0 0 10px 0 $gray-dark;
  overflow: hidden;
}

.card {
  width: 18rem;
  background-color: transparent;
  border: none;
  margin: -12px;

  .card-img-top {
    border-radius: 50%;
  }
}

.card-body {
  text-shadow: 0 0 12px #ff7d7d;
}
