<span id="accommodation-anchor"></span>

<app-section-title title="HÉBERGEMENT"></app-section-title>

<div class="text-center mb-4">
  <p>
    Nous avons sélectionné pour vous les adresses des hôtels, chambres d’hôtes et gîtes les plus proches du Domaine des Bertrands.<br>
    Nous vous laissons le soin d'organiser vos réservations mais nous restons à votre disposition si besoin.
  </p>
</div>

<div class="row">

  <!-- Accommodation 1 - Chambres d'hôtes La Haute Verrerie -->
  <div class="col m-2">
    <div class="card m-auto">
      <img class="card-img-top" src="assets/picture-accommodation-1.jpg" alt="Hébergement">
      <div class="card-body text-center">
        <h3 class="card-title font-family-cursive mb-3">Chambres d'hôtes La Haute Verrerie</h3>
        <p class="card-text">
          <fa-icon [icon]="locationIcon" class="location-icon mr-2"></fa-icon>
          La Haute Verrerie<br> 83340 Le Cannet-des-Maures
        </p>
        <p class="card-text">
          <fa-icon [icon]="durationIcon" class="duration-icon mr-2"></fa-icon>
          7 min en voiture du Domaine
        </p>
        <p class="card-text">
          <fa-icon [icon]="priceIcon" class="price-icon mr-2"></fa-icon>
          De 79€ à 112€ la nuitée
        </p>
        <a class="btn btn-outline-secondary mr-2" [href]="bookingLinkAccommodation1" target="_blank">
          <fa-icon [icon]="bookIcon" class="book-icon mr-2"></fa-icon>
          Réserver
        </a>
        <a class="itinerary-link btn btn-outline-secondary" [href]="itineraryLinkAccommodation1" target="_blank">
          <fa-icon [icon]="itineraryIcon" class="itinerary-icon mr-2"></fa-icon>
          Itinéraire
        </a>
      </div>
    </div>
  </div>

  <!-- Accommodation 2 - Le Mas du Rouquan -->
  <div class="col m-2">
    <div class="card m-auto">
      <img class="card-img-top" src="assets/picture-accommodation-2.png" alt="Hébergement">
      <div class="card-body text-center">
        <h3 class="card-title font-family-cursive mb-3 pb-1">Le Mas du Rouquan</h3>
        <p class="card-text">
          <fa-icon [icon]="locationIcon" class="location-icon mr-2"></fa-icon>
          7431 RD 48<br> (route de la Garde Freinet)<br> 83550 Vidauban
        </p>
        <p class="card-text">
          <fa-icon [icon]="durationIcon" class="duration-icon mr-2"></fa-icon>
          10 min en voiture du Domaine
        </p>
        <p class="card-text">
          <fa-icon [icon]="priceIcon" class="price-icon mr-2"></fa-icon>
          de 95€ à 180€ la nuitée
        </p>
        <a class="btn btn-outline-secondary mr-2" [href]="bookingLinkAccommodation2" target="_blank">
          <fa-icon [icon]="bookIcon" class="book-icon mr-2"></fa-icon>
          Réserver
        </a>
        <a class="itinerary-link btn btn-outline-secondary" [href]="itineraryLinkAccommodation2" target="_blank">
          <fa-icon [icon]="itineraryIcon" class="itinerary-icon mr-2"></fa-icon>
          Itinéraire
        </a>
      </div>
    </div>
  </div>

  <!-- Accommodation 3 - Camping Domaine De La Cigalière*** -->
  <div class="col m-2">
    <div class="card m-auto">
      <img class="card-img-top" src="assets/picture-accommodation-3.jpg" alt="Hébergement">
      <div class="card-body text-center">
        <h3 class="card-title font-family-cursive mb-3">Camping Domaine De La Cigalière***</h3>
        <p class="card-text">
          <fa-icon [icon]="locationIcon" class="location-icon mr-2"></fa-icon>
          Route du Thoronet<br> 83340 Le Cannet-des-Maures
        </p>
        <p class="card-text">
          <fa-icon [icon]="durationIcon" class="duration-icon mr-2"></fa-icon>
          13 min en voiture du Domaine
        </p>
        <p class="card-text">
          <fa-icon [icon]="priceIcon" class="price-icon mr-2"></fa-icon>
          De 71€ à 101€ la nuitée
        </p>
        <a class="btn btn-outline-secondary mr-2" [href]="bookingLinkAccommodation3" target="_blank">
          <fa-icon [icon]="bookIcon" class="book-icon mr-2"></fa-icon>
          Réserver
        </a>
        <a class="itinerary-link btn btn-outline-secondary" [href]="itineraryLinkAccommodation3" target="_blank">
          <fa-icon [icon]="itineraryIcon" class="itinerary-icon mr-2"></fa-icon>
          Itinéraire
        </a>
      </div>
    </div>
  </div>

  <!-- Accommodation 4 - Chambre d’hôte «sur le route de St Tropez» -->
  <div class="col m-2">
    <div class="card m-auto">
      <img class="card-img-top" src="assets/picture-accommodation-4.jpg" alt="Hébergement">
      <div class="card-body text-center">
        <h3 class="card-title font-family-cursive mb-3">Chambre d’hôte «&nbsp;sur le route de St Tropez&nbsp;»</h3>
        <p class="card-text">
          <fa-icon [icon]="locationIcon" class="location-icon mr-2"></fa-icon>
          Route de Saint Tropez<br> 83340 Le Cannet-des-Maures
        </p>
        <p class="card-text">
          <fa-icon [icon]="durationIcon" class="duration-icon mr-2"></fa-icon>
          13 min en voiture du Domaine
        </p>
        <p class="card-text">
          <fa-icon [icon]="priceIcon" class="price-icon mr-2"></fa-icon>
          65€ la nuitée
        </p>
        <a class="btn btn-outline-secondary mr-2" [href]="bookingLinkAccommodation4" target="_blank">
          <fa-icon [icon]="bookIcon" class="book-icon mr-2"></fa-icon>
          Réserver
        </a>
        <a class="itinerary-link btn btn-outline-secondary" [href]="itineraryLinkAccommodation4" target="_blank">
          <fa-icon [icon]="itineraryIcon" class="itinerary-icon mr-2"></fa-icon>
          Itinéraire
        </a>
      </div>
    </div>
  </div>

  <!-- Accommodation 5 - Appartement L’Idyllique -->
  <div class="col m-2">
    <div class="card m-auto">
      <img class="card-img-top" src="assets/picture-accommodation-5.jpg" alt="Hébergement">
      <div class="card-body text-center">
        <h3 class="card-title font-family-cursive mb-3">Appartement L’Idyllique, Vidauban</h3>
        <p class="card-text">
          <fa-icon [icon]="locationIcon" class="location-icon mr-2"></fa-icon>
          219 Chemin de la Futaie<br> 83550 Vidauban
        </p>
        <p class="card-text">
          <fa-icon [icon]="durationIcon" class="duration-icon mr-2"></fa-icon>
          15 min en voiture du Domaine
        </p>
        <p class="card-text">
          <fa-icon [icon]="priceIcon" class="price-icon mr-2"></fa-icon>
          De 89€ à 104€ la nuitée
        </p>
        <a class="btn btn-outline-secondary mr-2" [href]="bookingLinkAccommodation5" target="_blank">
          <fa-icon [icon]="bookIcon" class="book-icon mr-2"></fa-icon>
          Réserver
        </a>
        <a class="itinerary-link btn btn-outline-secondary" [href]="itineraryLinkAccommodation5" target="_blank">
          <fa-icon [icon]="itineraryIcon" class="itinerary-icon mr-2"></fa-icon>
          Itinéraire
        </a>
      </div>
    </div>
  </div>

  <!-- Accommodation 6 - Le Clos des Médiévales -->
  <div class="col m-2">
    <div class="card m-auto">
      <img class="card-img-top" src="assets/picture-accommodation-6.jpg" alt="Hébergement">
      <div class="card-body text-center">
        <h3 class="card-title font-family-cursive mb-3">Le Clos des Médiévales et sa halte équestre</h3>
        <p class="card-text">
          <fa-icon [icon]="locationIcon" class="location-icon mr-2"></fa-icon>
          Quartier Clos<br> 83340 Le Thoronet
        </p>
        <p class="card-text">
          <fa-icon [icon]="durationIcon" class="duration-icon mr-2"></fa-icon>
          17 min en voiture du Domaine
        </p>
        <p class="card-text">
          <fa-icon [icon]="priceIcon" class="price-icon mr-2"></fa-icon>
          De 55€ à 135€ la nuitée
        </p>
        <a class="btn btn-outline-secondary mr-2" [href]="bookingLinkAccommodation6" target="_blank">
          <fa-icon [icon]="bookIcon" class="book-icon mr-2"></fa-icon>
          Réserver
        </a>
        <a class="itinerary-link btn btn-outline-secondary" [href]="itineraryLinkAccommodation6" target="_blank">
          <fa-icon [icon]="itineraryIcon" class="itinerary-icon mr-2"></fa-icon>
          Itinéraire
        </a>
      </div>
    </div>
  </div>

</div>

<div class="text-center mt-4">
  <p>
    Nous vous conseillons de ne pas tarder à réserver vos hébergements, la période risque d’être assez prisée !<br>
    Pour les plus courageux, vous pouvez également apporter votre tente et la planter sur le Domaine des Bertrands,
    merci de le préciser sur le formulaire de confirmation de votre présence.<br>
    <fa-icon [icon]="arrowDownIcon" class="arrow-down-icon ml-2"></fa-icon>
  </p>
</div>
