<span id="accommodation-anchor"></span>

<app-section-title title="HÉBERGEMENT"></app-section-title>

<div class="text-center mb-4">
  <p>
    Nous avons sélectionné pour vous les adresses des hôtels, chambres d’hôtes et gîtes les plus proches du Domaine des Bertrands.<br>
    Nous vous laissons le soin d'organiser vos réservations mais nous restons à votre disposition si besoin.
  </p>
</div>

<div class="row">

  <!-- Accommodation 1 -->
  <div class="col m-2">
    <div class="card m-auto">
      <img class="card-img-top" src="assets/picture-accommodation-1.jpg" alt="Hébergement">
      <div class="card-body text-center">
        <h3 class="card-title font-family-cursive mb-3">Chambres d'hôtes La Haute Verrerie</h3>
        <p class="card-text">
          <fa-icon [icon]="locationIcon" class="location-icon mr-2"></fa-icon>
          La Haute Verrerie<br> 83340 Le Cannet-des-Maures
        </p>
        <p class="card-text">
          <fa-icon [icon]="durationIcon" class="duration-icon mr-2"></fa-icon>
          7 min en voiture du Domaine
        </p>
        <p class="card-text">
          <fa-icon [icon]="priceIcon" class="price-icon mr-2"></fa-icon>
          De 79€ à 112€ la nuitée
        </p>
        <a class="btn btn-outline-secondary mr-2" [href]="bookingLinkAccommodation1">
          <fa-icon [icon]="bookIcon" class="book-icon mr-2"></fa-icon>
          Réserver
        </a>
        <a class="itinerary-link btn btn-outline-secondary" [href]="itineraryLinkAccommodation1" target="_blank">
          <fa-icon [icon]="itineraryIcon" class="itinerary-icon mr-2"></fa-icon>
          Itinéraire
        </a>
      </div>
    </div>
  </div>

  <!-- Accommodation 2 -->
  <div class="col m-2">
    <div class="card m-auto">
      <img class="card-img-top" src="assets/picture-accommodation-2.png" alt="Hébergement">
      <div class="card-body text-center">
        <h3 class="card-title font-family-cursive mb-3 pb-1">Le Mas du Rouquan</h3>
        <p class="card-text">
          <fa-icon [icon]="locationIcon" class="location-icon mr-2"></fa-icon>
          7431 RD 48<br> (route de la Garde Freinet)<br> 83550 Vidauban
        </p>
        <p class="card-text">
          <fa-icon [icon]="durationIcon" class="duration-icon mr-2"></fa-icon>
          10 min en voiture du Domaine
        </p>
        <p class="card-text">
          <fa-icon [icon]="priceIcon" class="price-icon mr-2"></fa-icon>
          de 95€ à 180€ la nuitée
        </p>
        <a class="btn btn-outline-secondary mr-2" [href]="bookingLinkAccommodation2">
          <fa-icon [icon]="bookIcon" class="book-icon mr-2"></fa-icon>
          Réserver
        </a>
        <a class="itinerary-link btn btn-outline-secondary" [href]="itineraryLinkAccommodation2" target="_blank">
          <fa-icon [icon]="itineraryIcon" class="itinerary-icon mr-2"></fa-icon>
          Itinéraire
        </a>
      </div>
    </div>
  </div>

  <!-- Accommodation 3 -->
  <div class="col m-2">
    <div class="card m-auto">
      <img class="card-img-top"
           src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17915bd0e52%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17915bd0e52%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.1953125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E">
      <div class="card-body text-center">
        <h5 class="card-title font-family-cursive h2">Nom</h5>
        <p class="card-text">
          Infos<br>
          Autres infos<br>
          Encore d'autres infos<br>
        </p>
      </div>
    </div>
  </div>

  <!-- Accommodation 4 -->
  <div class="col m-2">
    <div class="card m-auto">
      <img class="card-img-top"
           src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17915bd0e52%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17915bd0e52%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.1953125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E">
      <div class="card-body text-center">
        <h5 class="card-title font-family-cursive h2">Nom</h5>
        <p class="card-text">
          Infos<br>
          Autres infos<br>
          Encore d'autres infos<br>
        </p>
      </div>
    </div>
  </div>

</div>
