<span id="accommodation-anchor"></span>

<app-section-title title="HÉBERGEMENT"></app-section-title>

<div class="text-center mb-4">
  <p>
    Nous avons sélectionné pour vous les adresses des hôtels, chambres d’hôtes et gîtes les plus proches du Domaine des Bertrands.<br>
    Nous vous laissons le soin d'organiser vos réservations mais nous restons à votre disposition si besoin.
  </p>
</div>

<div class="row">

  <!-- Accommodation 1 - Château St Roux -->
  <div class="col m-2">
    <div class="card m-auto">
      <img class="card-img-top" src="assets/picture-accommodation-1.jpg" alt="Hébergement"
           (load)="loadingService.onImageLoaded('picture-accommodation-1')">
      <div class="card-body text-center">
        <h3 class="card-title font-family-cursive mb-3">Château St Roux</h3>
        <p class="card-text">
          <fa-icon [icon]="locationIcon" class="location-icon mr-2"></fa-icon>
          RD17, Rte de la Garde Freinet<br> 83340 Le Cannet-des-Maures
        </p>
        <p class="card-text">
          <fa-icon [icon]="durationIcon" class="duration-icon mr-2"></fa-icon>
          8 min en voiture du Domaine
        </p>
        <p class="card-text">
          <fa-icon [icon]="priceIcon" class="price-icon mr-2"></fa-icon>
          De 160€ à 293€ la nuitée
        </p>
        <a class="btn btn-outline-secondary mr-2" [href]="bookingLinkAccommodation1" target="_blank">
          <fa-icon [icon]="bookIcon" class="book-icon mr-2"></fa-icon>
          Réserver
        </a>
        <a class="itinerary-link btn btn-outline-secondary" [href]="itineraryLinkAccommodation1" target="_blank">
          <fa-icon [icon]="itineraryIcon" class="itinerary-icon mr-2"></fa-icon>
          Itinéraire
        </a>
      </div>
    </div>
  </div>

  <!-- Accommodation 2 - Les portes de Provence -->
  <div class="col m-2">
    <div class="card m-auto">
      <img class="card-img-top" src="assets/picture-accommodation-2.jpg" alt="Hébergement"
           (load)="loadingService.onImageLoaded('picture-accommodation-2')">
      <div class="card-body text-center">
        <h3 class="card-title font-family-cursive mb-3 pb-1">Les portes de Provence</h3>
        <p class="card-text">
          <fa-icon [icon]="locationIcon" class="location-icon mr-2"></fa-icon>
          RDN7, CAP7<br> 83340 Le Cannet-des-Maures
        </p>
        <p class="card-text">
          <fa-icon [icon]="durationIcon" class="duration-icon mr-2"></fa-icon>
          10 min en voiture du Domaine
        </p>
        <p class="card-text">
          <fa-icon [icon]="priceIcon" class="price-icon mr-2"></fa-icon>
          de 113€ à 153€ la nuitée
        </p>
        <a class="btn btn-outline-secondary mr-2" [href]="bookingLinkAccommodation2" target="_blank">
          <fa-icon [icon]="bookIcon" class="book-icon mr-2"></fa-icon>
          Réserver
        </a>
        <a class="itinerary-link btn btn-outline-secondary" [href]="itineraryLinkAccommodation2" target="_blank">
          <fa-icon [icon]="itineraryIcon" class="itinerary-icon mr-2"></fa-icon>
          Itinéraire
        </a>
      </div>
    </div>
  </div>

  <!-- Accommodation 3 - Camping Domaine De La Cigalière*** -->
  <div class="col m-2">
    <div class="card m-auto">
      <img class="card-img-top" src="assets/picture-accommodation-3.jpg" alt="Hébergement"
           (load)="loadingService.onImageLoaded('picture-accommodation-3')">
      <div class="card-body text-center">
        <h3 class="card-title font-family-cursive mb-3">Camping Domaine De La Cigalière***</h3>
        <p class="card-text">
          <fa-icon [icon]="locationIcon" class="location-icon mr-2"></fa-icon>
          Route du Thoronet<br> 83340 Le Cannet-des-Maures
        </p>
        <p class="card-text">
          <fa-icon [icon]="durationIcon" class="duration-icon mr-2"></fa-icon>
          13 min en voiture du Domaine
        </p>
        <p class="card-text">
          <fa-icon [icon]="priceIcon" class="price-icon mr-2"></fa-icon>
          De 75€ à 115€ la nuitée
        </p>
        <a class="btn btn-outline-secondary mr-2" [href]="bookingLinkAccommodation3" target="_blank">
          <fa-icon [icon]="bookIcon" class="book-icon mr-2"></fa-icon>
          Réserver
        </a>
        <a class="itinerary-link btn btn-outline-secondary" [href]="itineraryLinkAccommodation3" target="_blank">
          <fa-icon [icon]="itineraryIcon" class="itinerary-icon mr-2"></fa-icon>
          Itinéraire
        </a>
      </div>
    </div>
  </div>

  <!-- Accommodation 4 - Chambre d’hôte «sur le route de St Tropez» -->
  <div class="col m-2">
    <div class="card m-auto">
      <img class="card-img-top" src="assets/picture-accommodation-4.jpg" alt="Hébergement"
           (load)="loadingService.onImageLoaded('picture-accommodation-4')">
      <div class="card-body text-center">
        <h3 class="card-title font-family-cursive mb-3">Chambre d’hôte «&nbsp;sur le route de St Tropez&nbsp;»</h3>
        <p class="card-text">
          <fa-icon [icon]="locationIcon" class="location-icon mr-2"></fa-icon>
          Route de Saint Tropez<br> 83340 Le Cannet-des-Maures
        </p>
        <p class="card-text">
          <fa-icon [icon]="durationIcon" class="duration-icon mr-2"></fa-icon>
          13 min en voiture du Domaine
        </p>
        <p class="card-text">
          <fa-icon [icon]="priceIcon" class="price-icon mr-2"></fa-icon>
          65€ la nuitée
        </p>
        <a class="btn btn-outline-secondary mr-2" [href]="bookingLinkAccommodation4" target="_blank">
          <fa-icon [icon]="bookIcon" class="book-icon mr-2"></fa-icon>
          Réserver
        </a>
        <a class="itinerary-link btn btn-outline-secondary" [href]="itineraryLinkAccommodation4" target="_blank">
          <fa-icon [icon]="itineraryIcon" class="itinerary-icon mr-2"></fa-icon>
          Itinéraire
        </a>
      </div>
    </div>
  </div>

  <!-- Accommodation 5 - Château du Bouillidou -->
  <div class="col m-2">
    <div class="card m-auto">
      <img class="card-img-top" src="assets/picture-accommodation-5.jpg" alt="Hébergement"
           (load)="loadingService.onImageLoaded('picture-accommodation-5')">
      <div class="card-body text-center">
        <h3 class="card-title font-family-cursive mb-3">Château du Bouillidou</h3>
        <p class="card-text">
          <fa-icon [icon]="locationIcon" class="location-icon mr-2"></fa-icon>
          Chateau de Bouillidou<br> 83340 Le Cannet-des-Maures
        </p>
        <p class="card-text">
          <fa-icon [icon]="durationIcon" class="duration-icon mr-2"></fa-icon>
          11 min en voiture du Domaine
        </p>
        <p class="card-text">
          <fa-icon [icon]="priceIcon" class="price-icon mr-2"></fa-icon>
          350€ la nuitée (8 personnes)
        </p>
        <a class="btn btn-outline-secondary mr-2" [href]="bookingLinkAccommodation5" target="_blank">
          <fa-icon [icon]="bookIcon" class="book-icon mr-2"></fa-icon>
          Réserver
        </a>
        <a class="itinerary-link btn btn-outline-secondary" [href]="itineraryLinkAccommodation5" target="_blank">
          <fa-icon [icon]="itineraryIcon" class="itinerary-icon mr-2"></fa-icon>
          Itinéraire
        </a>
      </div>
    </div>
  </div>

  <!-- Accommodation 6 - Le Clos des Médiévales -->
  <div class="col m-2">
    <div class="card m-auto">
      <img class="card-img-top" src="assets/picture-accommodation-6.jpg" alt="Hébergement"
           (load)="loadingService.onImageLoaded('picture-accommodation-6')">
      <div class="card-body text-center">
        <h3 class="card-title font-family-cursive mb-3">Le Clos des Médiévales et sa halte équestre</h3>
        <p class="card-text">
          <fa-icon [icon]="locationIcon" class="location-icon mr-2"></fa-icon>
          Quartier Clos<br> 83340 Le Thoronet
        </p>
        <p class="card-text">
          <fa-icon [icon]="durationIcon" class="duration-icon mr-2"></fa-icon>
          17 min en voiture du Domaine
        </p>
        <p class="card-text">
          <fa-icon [icon]="priceIcon" class="price-icon mr-2"></fa-icon>
          De 60€ à 77€ la nuitée
        </p>
        <a class="btn btn-outline-secondary mr-2" [href]="bookingLinkAccommodation6" target="_blank">
          <fa-icon [icon]="bookIcon" class="book-icon mr-2"></fa-icon>
          Réserver
        </a>
        <a class="itinerary-link btn btn-outline-secondary" [href]="itineraryLinkAccommodation6" target="_blank">
          <fa-icon [icon]="itineraryIcon" class="itinerary-icon mr-2"></fa-icon>
          Itinéraire
        </a>
      </div>
    </div>
  </div>

  <!-- Accommodation 7 - Appartement « Le Maure » -->
  <div class="col m-2">
    <div class="card m-auto">
      <img class="card-img-top" src="assets/picture-accommodation-7.jpg" alt="Hébergement"
           (load)="loadingService.onImageLoaded('picture-accommodation-7')">
      <div class="card-body text-center">
        <h3 class="card-title font-family-cursive mb-3">Appartement « Le Maure »</h3>
        <p class="card-text">
          <fa-icon [icon]="locationIcon" class="location-icon mr-2"></fa-icon>
          Voie Aurélienne<br> 83340 Le Cannet-des-Maures
        </p>
        <p class="card-text">
          <fa-icon [icon]="durationIcon" class="duration-icon mr-2"></fa-icon>
          12 min en voiture du Domaine
        </p>
        <p class="card-text">
          <fa-icon [icon]="priceIcon" class="price-icon mr-2"></fa-icon>
          À partir de 47€ la nuitée
        </p>
        <a class="btn btn-outline-secondary mr-2" [href]="bookingLinkAccommodation7" target="_blank">
          <fa-icon [icon]="bookIcon" class="book-icon mr-2"></fa-icon>
          Réserver
        </a>
        <a class="itinerary-link btn btn-outline-secondary" [href]="itineraryLinkAccommodation7" target="_blank">
          <fa-icon [icon]="itineraryIcon" class="itinerary-icon mr-2"></fa-icon>
          Itinéraire
        </a>
      </div>
    </div>
  </div>

</div>

<div class="text-center mt-4">
  <p>
    Nous vous conseillons de ne pas tarder à réserver vos hébergements.<br>
    Pour les plus courageux, vous pouvez également apporter votre tente et la planter sur le Domaine des Bertrands,
    merci de le préciser sur le formulaire de confirmation de votre présence.<br>
    <fa-icon [icon]="arrowDownIcon" class="arrow-down-icon ml-2"></fa-icon>
  </p>
</div>
