//-- Bootstrap overrides

$primary: #D3DAD0;
$secondary: #ce0058;
$tertiary: #495057;

@import '~bootstrap/scss/bootstrap';

//-- Colors

$white: $white;
$gray-very-light: $gray-200;
$gray-light: $gray-300;
$gray-medium: $gray-400;
$gray-dark: $gray-500;
$gray-very-dark: $gray-600;
$almost-black: $gray-700;
$black-ish: $gray-900;

$background-color: $white;
$text-color: $almost-black;

//-- Fonts

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:wght@400;500&display=swap');

.font-family-main {
  font-family: 'Playfair Display', serif;
}

.font-family-cursive {
  font-family: 'Dancing Script', cursive;
}

//-- Global styles

body {
  @extend .font-family-main;
  font-size: 18px;
  font-weight: 500;
  background-color: $background-color;
  color: $text-color;
}
