//-- Bootstrap overrides

// Extend Bootstrap breakpoints
$grid-breakpoints: (xxs: 0, xs: 480px, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1440px);

$primary: #D3DAD0;
$primary-dark: #8a8e88;
$secondary: #ce0058;
$tertiary: #495057;

@import '~bootstrap/scss/bootstrap';

//-- Colors

$white: $white;
$almost-white: $gray-100;
$gray-very-light: $gray-200;
$gray-light: $gray-300;
$gray-medium: $gray-400;
$gray-dark: $gray-500;
$gray-very-dark: $gray-600;
$almost-black: $gray-700;
$black-ish: $gray-900;

$background-color: $white;
$text-color: $almost-black;

//-- Fonts

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:wght@400;500&display=swap');

.font-family-main {
  font-family: 'Playfair Display', serif;
}

.font-family-cursive {
  font-family: 'Dancing Script', cursive;
}

//-- Global styles

html {
  scroll-behavior: smooth;
}

body {
  @extend .font-family-main;
  font-size: 18px;
  font-weight: 500;
  background-color: $background-color;
  color: $text-color;
}

.responsive-margin {
  margin: 3rem 1rem;

  @include media-breakpoint-up(xs) {
    margin: 3rem 1.5rem;
  }

  @include media-breakpoint-up(sm) {
    margin: 3rem 3rem;
  }
}

.responsive-padding {
  padding: 3rem 1rem;

  @include media-breakpoint-up(xs) {
    padding: 3rem 1.5rem;
  }

  @include media-breakpoint-up(sm) {
    padding: 3rem 3rem;
  }
}
