@import '~bootstrap/scss/bootstrap';

//-- Fonts

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:wght@400;500&display=swap');

.font-family-main {
  font-family: 'Playfair Display', serif;
}

.font-family-cursive {
  font-family: 'Dancing Script', cursive;
}

//-- Global styles

body {
  @extend .font-family-main;
  font-size: 18px;
  font-weight: 500;
}
