@import "style/variables";
@import "~bootstrap/scss/bootstrap";

@import "style/fonts";

// Global styles

html {
  scroll-behavior: smooth;
}

body {
  @extend .font-family-main;
  font-size: 18px;
  font-weight: 500;
  background-color: $background-color;
  color: $text-color;
  min-width: 350px;
  overflow: auto;
}

.text-primary {
  color: #819f72 !important;
}

.responsive-margin {
  margin: 3rem 1rem;

  @include media-breakpoint-up(xs) {
    margin: 3rem 1.5rem;
  }

  @include media-breakpoint-up(sm) {
    margin: 3rem 3rem;
  }
}

.responsive-padding {
  padding: 3rem 1rem;

  @include media-breakpoint-up(xs) {
    padding: 3rem 1.5rem;
  }

  @include media-breakpoint-up(sm) {
    padding: 3rem 3rem;
  }
}
